services:
  postgres:
    image: postgres:15-alpine
    container_name: xeno_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: xeno_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  nats:
    image: nats:latest
    container_name: xeno_nats
    command: "-js -m 8222"
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - nats_data:/data
volumes:
  postgres_data:
  nats_data: