name: Keep Alive

on:
  schedule:
    - cron: '*/12 * * * *' # Run every 12 minutes
  workflow_dispatch: # Allow manual trigger

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Backend
        run: |
          curl -I https://xeno-assignment-cu4d.onrender.com/health || echo "Ping failed"
